
body{
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    font-family: Sanchez,sans-serif;
}
header > div{
    background-color: rgba(107, 98, 98, 0.2);
    display: flex;
    border-radius: 0;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px #A9A1A1;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 5px
}

h1{
    color: #A9A1A1;
    margin-right: auto;
}

.problem-stats{
    display: flex;
    height: 150px;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.problem-stats > div{
    width: 170px;
    height: 130px;
    border: solid 1px #A9A1A1;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 24px;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.color-line{
    width: 168px;
    height: 5px;
}
.problem-stats > div > h2{
    margin-bottom: 10px;
}

.problem-list{
    height: 600px;
    width: 1200px;
    border: solid 1px #A9A1A1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    position: relative;
}

th {
    border-spacing: 0;
    border-bottom: black solid 3px;
    font-size: 18px;
    background-color: rgb(27, 26, 26);
}


table {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-spacing: 0;
    border-radius: 10px;
    border-collapse: separate;
    border: solid black 3px;
    color: #FFFFFF;
}

th, td{
    text-align: center;
    height: 35px
}

tr:nth-child(even) {
    background-color: rgba(107, 98, 98, 0.2);
}

#page-div{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
}

a{
    color: white;
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition effect */
    width: 20px;
    height: 30px;
    padding: 1px;
    line-height: 1;
    font-size: 24px;
    align-self: center;
}

a:hover{
    background-color: #a5a5a3;
}

.pop-up{
    width: 900px;
    height: 650px;
    background-color: rgb(30, 28, 28);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    visibility: hidden;
}

#solution{
    transition: color 0.3s, background-color 0.3s; /* Smooth transition effect */
    cursor: pointer;
    border-radius: 10px;
}

#solution:hover{
    background-color: #a5a5a3;
}

